@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.8s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.fadeOut {
  animation: fadeOut 1.5s;
}

.pagefadeIn {
  animation-duration: 1s;
  animation-name: fadeIn;
}